/*create comments with ctrl slash*/
@import url('https://fonts.googleapis.com/css?family=VT323');
/*HUB css*/
#HUBtitle{
    display: block;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
/*STAMP css*/

/*DOTS css*/

/*GAME css*/

