/*create comments with ctrl slash*/
@import url('https://fonts.googleapis.com/css?family=VT323');
body {
    overflow:hidden;
}
/*HUB css*/
#HUBtitle{
    display: block;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#hubbody{
background-color: coral;
}
#dotsnav{
    position: absolute;
    left: 320px;
    top: 200px;
    font-family: 'VT323', monospace;
    font-size: 40px;
}
#gamenav{
    position: absolute;
    left: 650px;
    top: 200px;
    font-family: 'VT323', monospace;
    font-size: 40px;
}
#stampnav{
    position: absolute;
    left: 935px;
    top: 200px;
    font-family: 'VT323', monospace;
    font-size: 40px;
}
#back{
    font-family: 'VT323', monospace;
    font-size: 20px;
}

/*STAMP css*/
#stampbody{
background-color: lightgreen;
}
#STAMPtitle {
    position: absolute;
    left: 460px;
    top: 10px;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#images {
    position: absolute;
    left: 1120px;
    top: 10px;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#gifs {
    position: absolute;
    left: 1140px;
    top: 250px;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#STAMPcanvasID {
    border-style: solid;
    border-width: 10px;
  background-color: white;
}
#re {
    position: absolute;
    left: 1140px;
    top: 550px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#shrek {
    position: absolute;
    left: 1140px;
    top: 100px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#cage {
    position: absolute;
    left: 1140px;
    top: 150px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#dk {
    position: absolute;
    left: 1140px;
    top: 200px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#bond {
    position: absolute;
    left: 1140px;
    top: 350px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#plums {
    position: absolute;
    left: 1140px;
    top: 450px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#tinyhands {
    position: absolute;
    left: 1140px;
    top: 400px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#plusr {
    position: absolute;
    left: 790px;
    top: 550px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#minusr {
    position: absolute;
    left: 60px;
    top: 550px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#erase {
    position: absolute;
    left: 1160px;
    top: 480px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
.noselect {
    -webkit-user-select: none; 
}



/*DOTS css*/
#dotsbody{
background-color: lightpink;
}
#DOTStitle {
    position: absolute;
    left: 460px;
    top: 10px;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#settings {
    position: absolute;
    left: 1120px;
    top: 10px;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#DOTScanvasID {
    border-style: solid;
    border-width: 10px;
  background-color: white;
}
#re {
    position: absolute;
    left: 1160px;
    top: 550px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#black {
    position: absolute;
    left: 1160px;
    top: 150px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#red {
    position: absolute;
    left: 1160px;
    top: 200px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#green {
    position: absolute;
    left: 1160px;
    top: 250px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#blue {
    position: absolute;
    left: 1160px;
    top: 300px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#tan {
    position: absolute;
    left: 1160px;
    top: 350px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#brown {
    position: absolute;
    left: 1160px;
    top: 400px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#plusr {
    position: absolute;
    left: 790px;
    top: 550px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#minusr {
    position: absolute;
    left: 60px;
    top: 550px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
#erase {
    position: absolute;
    left: 1160px;
    top: 480px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  color: #A981B2;
}
.noselect {
    -webkit-user-select: none; 
}
#black:hover { 
    background-color: black;
}
#red:hover { 
    background-color: red;
}
#green:hover { 
    background-color: green;
}
#blue:hover { 
    background-color: blue;
}
#tan:hover { 
    background-color: tan;
}
#brown:hover { 
    background-color: #973310;
}



/*GAME css*/
#GAMEcanvasID {
  background-image: url("http://www.qotile.net/gif/static2.gif");
  display: block;
  margin: auto;
  border-style: solid;
  border-width: 10px;
}
#startbutton{
  position: absolute;
  left: 640px;
  top: 205px;
  background-color: lightgray; 
    border: ;
  border-color: gray;
  border-radius: 25px;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
  font-family: 'VT323', monospace;
}
#scorelabel{
      font-family: 'VT323', monospace;
      position: absolute;
    left: 250px;
    top: 0px;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#title{
      font-family: 'VT323', monospace;
      position: absolute;
  color: white;
    left: 655px;
    top: 0px;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#gameover{
      font-family: 'VT323', monospace;
      position: absolute;
  color: white;
    left: 600px;
    top: 0px;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#endbutton{
  position: absolute;
  left: 630px;
  top: 300px;
  background-color: lightgray; 
    border: ;
  border-color: gray;
  border-radius: 25px;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
  font-family: 'VT323', monospace;
}
#directions{
      font-family: 'VT323', monospace;
      position: absolute;
  color: white;
    left: 435px;
    top: 340px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  text-align: center;
}
