/*create comments with ctrl slash*/
@import url('https://fonts.googleapis.com/css?family=VT323');
body {
    overflow:hidden;
}
/*HUB css*/
#HUBtitle{
    display: block;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 55px;
    color: black;
}
#hubbody{
background-color: coral;
}
#dotsdesc {
    position: absolute;
    left: 320px;
    top: 250px;
    font-family: 'VT323', monospace;
    font-size: 35px;
    color: white;
}
#gamedesc {
    position: absolute;
    left: 620px;
    top: 250px;
    font-family: 'VT323', monospace;
    font-size: 35px;
    color: white;
}
#stampdesc {
    position: absolute;
    left: 905px;
    top: 250px;
    font-family: 'VT323', monospace;
    font-size: 35px;
    color: white;
}
#dotsnav{
    position: absolute;
    left: 320px;
    top: 200px;
    font-family: 'VT323', monospace;
    font-size: 40px;
    color: black;
}
#gamenav{
    position: absolute;
    left: 650px;
    top: 200px;
    font-family: 'VT323', monospace;
    font-size: 40px;
    color: black;
}
#stampnav{
    position: absolute;
    left: 935px;
    top: 200px;
    font-family: 'VT323', monospace;
    font-size: 40px;
    color: black;
}
#back{
    font-family: 'VT323', monospace;
    font-size: 20px;
}

/*STAMP css*/
#stampbody{
background-color: coral;
}
#STAMPtitle {
    position: absolute;
    left: 460px;
    top: 10px;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#images {
    position: absolute;
    left: 1120px;
    top: 10px;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#gifs {
    position: absolute;
    left: 1140px;
    top: 250px;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#STAMPcanvasID {
    border-style: solid;
    border-width: 10px;
  background-color: white;
}
#re {
    position: absolute;
    left: 1140px;
    top: 550px;
     font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#shrek {
    position: absolute;
    left: 1140px;
    top: 100px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#cage {
    position: absolute;
    left: 1140px;
    top: 150px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#dk {
    position: absolute;
    left: 1140px;
    top: 200px;
        font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#bond {
    position: absolute;
    left: 1140px;
    top: 350px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#plums {
    position: absolute;
    left: 1140px;
    top: 450px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#tinyhands {
    position: absolute;
    left: 1140px;
    top: 400px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#plusr {
    position: absolute;
    left: 790px;
    top: 550px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#minusr {
    position: absolute;
    left: 60px;
    top: 550px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#erase {
    position: absolute;
    left: 1160px;
    top: 480px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
.noselect {
    -webkit-user-select: none; 
}



/*DOTS css*/
#dotsbody{
background-color: coral;
}
#DOTStitle {
    position: absolute;
    left: 430px;
    top: 10px;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#settings {
    position: absolute;
    left: 1120px;
    top: 10px;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#DOTScanvasID {
    border-style: solid;
    border-width: 10px;
  background-color: white;
}
#re {
    position: absolute;
    left: 1140px;
    top: 550px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#black {
    position: absolute;
    left: 1160px;
    top: 150px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#red {
    position: absolute;
    left: 1160px;
    top: 200px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#green {
    position: absolute;
    left: 1160px;
    top: 250px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#blue {
    position: absolute;
    left: 1160px;
    top: 300px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#tan {
    position: absolute;
    left: 1160px;
    top: 350px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#brown {
    position: absolute;
    left: 1160px;
    top: 400px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#plusr {
    position: absolute;
    left: 790px;
    top: 550px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#minusr {
    position: absolute;
    left: 60px;
    top: 550px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
#erase {
    position: absolute;
    left: 1160px;
    top: 480px;
    font-family: 'VT323', monospace;
    font-size: 20px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e54c26 0%,
		#e54c26);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e54c26),
		to(#e54c26));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #e54c26;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(229,076,038,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(229,076,038,1);
}
.noselect {
    -webkit-user-select: none; 
}
#black:hover { 
    background-color: black;
}
#red:hover { 
    background-color: red;
}
#green:hover { 
    background-color: green;
}
#blue:hover { 
    background-color: blue;
}
#tan:hover { 
    background-color: tan;
}
#brown:hover { 
    background-color: #973310;
}



/*GAME css*/
#gamebody{
background-color: coral
}
#GAMEcanvasID {
  background-image: url("http://www.qotile.net/gif/static2.gif");
  display: block;
  margin: auto;
  border-style: solid;
  border-width: 10px;
}
#startbutton{
  position: absolute;
  left: 640px;
  top: 205px;
  background-color: lightgray; 
    border: ;
  border-color: gray;
  border-radius: 25px;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
  font-family: 'VT323', monospace;
}
#scorelabel{
      font-family: 'VT323', monospace;
      position: absolute;
    left: 250px;
    top: 0px;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#title{
      font-family: 'VT323', monospace;
      position: absolute;
  color: white;
    left: 655px;
    top: 0px;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#gameover{
      font-family: 'VT323', monospace;
      position: absolute;
  color: white;
    left: 600px;
    top: 0px;
    font-family: 'VT323', monospace;
    font-size: 55px;
}
#endbutton{
  position: absolute;
  left: 630px;
  top: 300px;
  background-color: lightgray; 
    border: ;
  border-color: gray;
  border-radius: 25px;
    color: black;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
  font-family: 'VT323', monospace;
}
#directions{
      font-family: 'VT323', monospace;
      position: absolute;
  color: white;
    left: 435px;
    top: 340px;
    font-family: 'VT323', monospace;
    font-size: 40px;
  text-align: center;
}
